@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Poppins:wght@400;500;600&display=swap');

:root {
  --primary-color: #fe5303;
  --heading-font: 'Playfair Display', serif;

  --space-xs: 8px;
  --space-sm: 12px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 40px;
  --space-2xl: 74px;
}

* {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

body {
  margin: 0;
  color: #222;
  font-family: 'Poppins', sans-serif;
}

button,
.booking_button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

section {
  padding: var(--space-2xl) 0;
}

h2 {
  font-size: 2.5rem;
  font-family: var(--heading-font);
  font-weight: 700;
  margin: 0;
}
strong {
  color: var(--primary-color);
}

.container {
  max-width: 1200px;
  padding: var(--space-lg);
  margin: 0 auto;
}

/* HERO AREA */

.hero-area {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
  color: white;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-area header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h2 {
  color: var(--primary-color);
}

.reservations {
  background-color: var(--primary-color);
  border: none;
  padding: var(--space-sm) var(--space-lg);
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 500;
  margin-left: 20px;

  display: flex;
  align-items: center;
}

.reservations i {
  margin-right: 8px;
}

.main-heading {
  font-family: var(--heading-font);
  font-size: 3.25rem;
  font-weight: 700;

  max-inline-size: 620px;
}

.booking {
  margin-top: 100px;
  margin-bottom: 2rem;
}

.booking_inputs {
  background-color: white;
  color: #222;
  padding: var(--space-lg);
  border-radius: 8px;
}

.booking_input label {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #bdbdbd;
  font-weight: 500;
}

.booking_input input {
  display: block;
  width: 100%;
  min-width: 95%;
  border: none;
  padding: var(--space-xs) 0;

  font-weight: 500;
  cursor: pointer;
}

.booking_button {
  background-color: var(--primary-color);
  padding: var(--space-xl);
  border-radius: 8px;

  font-weight: 500;
  text-transform: uppercase;

  margin-top: var(--space-sm);
  margin-right: 1rem;
  box-shadow: 0px 4px 20px 0px #fe530399;
}

@media (min-width: 760px) {
  .booking_input {
    padding: 0 var(--space-lg);
    border-left: 1px solid #e0e0e0;
  }
}
@media (min-width: 1020px) {
  .booking {
    display: flex;
    width: 100%;
  }
  .booking_button {
    margin-top: 0;
    margin-left: var(--space-sm);
  }
}

/* TESTIMONIALS */
.testimonials {
  background-color: #f2f2f2;
}

.feedback {
  margin-top: var(--space-2xl);
  display: grid;
  gap: var(--space-xl);
}

.feedback-card__dialog {
  background-color: white;
  padding: var(--space-xl) var(--space-lg);
  border-radius: 20px 20px 20px 0;
  box-shadow: 0px 0px 20px 0px #0000000d;

  font-family: var(--heading-font);
}

.feedback-card__dialog_title {
  font-weight: 700;
  margin-bottom: var(--space-md);
}

.feedback-card__dialog_content {
  color: #4f4f4f;
  line-height: 180%;
}

.feedback-card__user {
  margin-top: var(--space-md);
  display: grid;
  grid-template-columns: 52px 1fr;
  gap: var(--space-md);
}

.feedback-card__user img {
  width: 100%;
}

.feedback-card__user__name {
  font-family: 500;
}

.feedback-card__user__location {
  color: #bdbdbd;
  font-size: 0.75rem;
}

@media (min-width: 760px) {
  .feedback {
    grid-template-columns: repeat(3, 1fr);
  }
}

footer {
  padding: var(--space-lg) 0;
  font-family: var(--heading-font);
}

.top-header {
  position: fixed;
  width: 100%;
  z-index: 1;

  transition: background-color 300ms ease-in-out, box-shadow 300ms ease-in-out;
}

.top-header .container {
  padding-top: var(--space-sm);
  padding-bottom: var(--space-sm);
}

.top-header--white-background {
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.top-header--white-background path {
  fill: var(--primary-color);

  transition: fill 300ms ease-in-out;
}

.area {
  height: 8rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  color: black;

  border-radius: 0.6rem;
}

.app-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.app-nav a {
  border-radius: 0.5rem;
  margin-right: 1rem;
  padding: 1rem;
  font-size: 1rem;
  background-color: white;
  color: black;
  text-decoration: none;
}

.saved-h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
}

.styled-table {
  border-radius: 0.6rem;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1rem;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: var(--primary-color);
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;

  overflow: hidden;
  padding: 1rem;
}
td {
  max-width: 830px;
  padding-right: 1rem;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
  color: black;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--primary-color);
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
