{% extends "base.html" %} {% block head%} Short links, that bring big results to your business {%
endblock %} {% block content %}
<form class="booking" action="#" , method="post">
  <div class="booking_inputs">
    <div class="booking_input">
      <label for="url">Enter an https:// URL:</label>
      <input
        type="url"
        name="user-input"
        id="url check-in"
        placeholder="https://example.com"
        pattern="https://.*"
        size="50"
        required
      />
    </div>
  </div>
  <input type="submit" value="shorten" class="booking_button" />
</form>
{% endblock %}
